.button-link {
  display: flex;
  place-items: center;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 30px;
  border: 1px solid #64ffda;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease-out;
  &:focus {
    outline: none;
    background: #64ffdb18;
  }

  &:hover {
    background: #64ffdb18;
  }
  svg {
    fill: var(--green);
    margin: 0 3px;
    width: 1.5rem;
    height: auto;
  }
  .customButton {
    color: #ffffff;
    margin: 0 3px;
    font-family: "Overpass Mono", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16.5px;
    background: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 1145px) {
  .button-link {
    padding: 15px 25px;
    .customButton {
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 732px) {
  .button-link {
    padding: 12px 20px;
    .customButton {
      font-size: 12px;
    }
  }
}
@media only screen and (max-width: 440px) {
  .button-link {
    padding: 8px 15px;
    .customButton {
      font-size: 11px;
    }
  }
}
