.newsletterForm {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .newsletterHeading {
        margin: 0 !important;
        font-family: "Overpass", Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: white;
        margin-top: 10px;
        margin: 0 !important;
    }
    .newsletterDescription {
        color: var(--gray);
        margin: 0 0 20px 0 !important;
        font-size: 15px;
    }
    .newsletterTextbox {
        width: 200px;
        padding: 5px;
        font-size: 16px;
        border-width: 1px;
        border-color: #cccccc;
        background-color: #e6e6e6;
        color: #000000;
        border-style: solid;
        border-radius: 2px;
        margin-right: 10px;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        .newsletterSubmit {
            font-family: "Overpass", Verdana, Geneva, Tahoma, sans-serif;
            place-items: center;
            text-decoration: none;
            width: -moz-fit-content;
            width: fit-content;
            padding: 8.5px 20px;
            border: 1px solid #64ffda;
            border-radius: 4px;
            cursor: pointer;
            transition: all 200ms ease-out;
            background: transparent;
            color: white;
            background: #64ffdb25;
        }
        .newsletterSubmit:hover {
            background: #64ffdb52;
        }
    }
}
@media only screen and (max-width: 350px) {
    .newsletterForm {
        margin: 10px 20px 30px 20px;
        .newsletterHeading {
            font-size: 18px;
        }
        .newsletterDescription {
            font-size: 12px;
        }
        div {
            flex-direction: column;
            .newsletterTextbox {
                width: 175px;
                margin-bottom: 10px;
            }
        }
    }
}
