.relatedPostsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  .relatedPosts {
    display: flex;
    align-items: center;
    flex-direction: row;
    div {
      padding: 30px;
    }
  }
}
