.videoPlayerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    .videoPlayer  {
        width: 64vw;
        height: 36vw;
    }
}
@media only screen and (max-width: 730px) {
    .videoPlayerContainer {
        .videoPlayer {
            width: 80vw;
            height: 45vw;
        }
    }
}
@media only screen and (max-width: 450px) {
    .videoPlayerContainer {
        .videoPlayer {
            width: 88vw;
            height: 49.5vw;
        }
    }
}