---
// function import
import { formatDate } from "@js/utils";

// // destructuring astro properties
const { relatedVideos } = Astro.props;

// style import
import "./styles/RelatedVideos.scss";
---

<div class="relatedVideosContainer">
  <h2>Related Videos</h2>
  <div class="relatedVideos">
    {
      relatedVideos.map((video: any) => (
        <div>
          <h4>
            <a href={`/tutorial/videos/${video.slug}`}>{video.data.title}</a>
          </h4>
          <small>
            {video.data.duration} • {formatDate(video.data.pubDate)}
          </small>
        </div>
      ))
    }
  </div>
</div>
