.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.imgHeading {
    margin-top: -20px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
    display: block;
  width: 100%;
}
