.researchProjectHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 40px 0;
  padding: 0 220px;
  .researchProjectHeaderElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .subtitle {
      color: var(--slate);
    }
    .tagsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 1.1rem;
      .customIcon {
        height: 18px;
        padding: 1px;
        margin: 0 2px;
        width: unset;
      }
      .tagBadge {
        padding: 4px;
      }
    }
    .journalDetailsDiv {
      display: flex;
      h4 {
        margin: 10px 0 0 0;
      }
      svg {
        height: 40px;
        width: unset;
        padding: 5px;
        color: var(--white);
      }
    }
    .pubRelatedLinks {
      padding: 10px 20px;
      margin: 5px;
    }
    .coverImage {
      height: 400px;
      width: auto;
    }
  }

  .researchProjectCoverImg {
    width: 70%;
    height: auto;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1050px) {
  .researchProjectHeaderContainer {
    padding: 0 80px;
    .researchProjectHeaderElements {
      .tagsContainer {
        font-size: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 730px) {
  .researchProjectHeaderContainer {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 650px) {
  .researchProjectHeaderContainer {
    margin-top: 130px;
    .title {
      font-size: 1.8rem;
    }
    .subtitle {
      font-size: 1.2rem;
    }
    .researchProjectCoverImg {
      width: 100%;
    }
    .researchProjectHeaderElements {
      .coverImage {
        width: 60vw;
        height: auto;
      }
    }
  }
}
@media only screen and (max-width: 440px) {
  .researchProjectHeaderContainer {
    .title {
      font-size: 1.5rem;
    }
    .subtitle {
      font-size: 1rem;
    }
    .researchProjectHeaderElements {
      .tagsContainer {
        font-size: 14px;
      }
      .coverImage {
        width: 80vw;
        height: auto;
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  .researchProjectHeaderContainer {
    padding: 0 22px;
  }
}
