h2 {
  font-size: 24.75px;
}
.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.imgHeading {
  margin-top: -20px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  sub {
    padding: 10px;
    font-size: 13px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.swiper-pagination-bullet {
  background-color: var(--green);
}
