.blogCard {
  width: 350px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  background: #2d344157;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.24);
  transition: all 200ms ease-out;
  padding: 15px;
  border-radius: 4px;
  img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    filter: brightness(70%);
  }
  img:hover {
    filter: brightness(100%);
    transition: all 200ms ease-out;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    .dateDurationBlogCard {
      font-size: smaller;
      margin-bottom: 8px !important;
    }
    a h4:hover {
      color: var(--green) !important;
      transition: all 200ms ease-out;
    }
    p a {
      margin: 0 10px 0 0;
    }
  }
}
