.Contact {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 220px;
    .number-heading {
        font-family: "Overpass Mono";
        font-size: 22px;
        color: #64ffda;
        margin-right: -3px;
        padding-right: 10px;
        padding-top: 4px;
    }
    h2 {
        color: rgba(255, 255, 255, 0.932);
        margin-bottom: 5px;
        font-family: "Overpass";
        font-size: 30px;
        position: relative;
        top: -15px;

        span {
            font-family: "Overpass Mono";
            font-size: 22px;
            color: #64ffda;
            margin-right: -3px;
        }
    }

    p {
        width: 500px;
        text-align: center;
        margin-top: -8px;
        font-family: "Overpass Mono";
        font-size: 16px;
        transition: all 200ms ease-out;
        margin-bottom: -50px;
    }

    svg {
        margin: 0px;
        padding: 0px;
        width: 63%;
    }

    .email-button {
        margin-top: 50px;
        transition: all 200ms ease-out;
    }

    a {
        background-color: #64ffda;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition: all 200ms ease-out;
        box-shadow: 0 0 15px #ff3e5425;

        &:hover {
            background: #0b1429;
            box-shadow: 0 0 15px rgba(0, 56, 139, 0.192);

            .st0 {
                fill: #64ffda;
            }
        }
    }

    .st0 {
        fill: black;
        transition: all 200ms ease-out;
    }
}

@media only screen and (max-width: 1100px) {
    .Contact {
        min-height: 520px;
        margin-top: 120px;
    }
}
@media only screen and (max-width: 1050px) {
    .Contact {
        padding: 0 80px;
    }
}

@media only screen and (max-width: 730px) {
    .Contact {
        min-height: 520px;
        margin-top: 140px;
        margin-bottom: 50px;
        padding: 0 40px;
        p {
            font-size: 18px;
            width: 400px;
        }

        h2 {
            font-size: 30px;
        }

        a {
            background-color: #0b1429;
            position: relative;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            transition: all 200ms ease-out;
            box-shadow: 0 0 15px #ff3e5425;

            &:hover {
                background: #64ffda;
                box-shadow: 0 0 15px rgba(0, 56, 139, 0.192);

                .st0 {
                    fill: #0b1429;
                }
            }
        }
        .st0 {
            fill: #64ffda;
            transition: all 200ms ease-out;
        }
    }
}

@media only screen and (max-width: 550px) {
    .Contact {
        margin-top: 50px;
        p {
            font-size: 18px;
            width: 400px;
        }

        h2 {
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .Contact {
        .number-heading {
            font-size: 22px;
        }
        min-height: 440px;

        p {
            font-size: 12px;
            width: 320px;
            margin-bottom: -50px;
        }

        h2 {
            font-size: 25px;
            margin-bottom: 35px;

            span {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    .Contact {
        padding: 0 22px;
    }
}
@media only screen and (max-width: 330px) {
    .Contact {
        h2,
        .number-heading {
            font-size: 19px;
        }
        p {
            font-size: 11px;
            width: 270px;
        }
    }
}
