.Portfolio {
    width: 100%;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 220px;
    margin-bottom: 80px;
    .number-heading {
        font-family: "Overpass Mono";
        font-size: 22px;
        color: #64ffda;
        margin-right: -3px;
        padding-right: 10px;
        padding-top: 4px;
    }

    h2 {
        color: rgba(255, 255, 255, 0.932);
        margin-bottom: 5px;
        font-family: "Overpass";
        font-size: 30px;
        position: relative;
        top: -15px;

        span {
            font-family: "Overpass Mono";
            font-size: 22px;
            color: #64ffda;
            margin-right: -3px;
        }
    }

    .portfolio-container {
        // width: 100%;
        margin-top: 50px;
        display: -ms-grid;
        display: grid;
        grid-gap: 30px 40px;
        -ms-grid-template-columns: auto-fit, minmax(330px, 1fr);
        grid-template-columns: auto-fit, minmax(330px, 1fr);
        -ms-grid-template-rows: auto;
        grid-template-rows: auto;
        justify-items: center;
        padding: 20px 0 0 0;

        .section-heading h4 {
            color: var(--green);
            font-size: 22px;
        }
    }
}
@media only screen and (max-width: 1050px) {
    .Portfolio {
        padding: 0 80px;
        margin-bottom: unset;
    }
}
@media only screen and (max-width: 730px) {
    .Portfolio {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 450px) {
    .Portfolio h2 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 420px) {
    .Portfolio {
        padding: 0 22px;
    }
}
@media only screen and (max-width: 330px) {
    .Portfolio {
        h2,
        .number-heading {
            font-size: 19px;
        }
        h4 {
            font-size: 17.5px !important;
        }
    }
}
