.Socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 64px;
    z-index: 1;

    a {
        height: 22px;
        width: 22px;
        margin: 7.5px 0;
    }
}

.stripe {
    background-color: #60ffd9 !important;
    width: 1px;
    height: 55px;
    margin-top: 15px;
}

svg {
    // width: 2vw;
    height: 22px;
    fill: rgba(255, 255, 255, 0.555);
    transition: all 200ms ease-out;
    position: relative;

    &:hover {
        fill: #ffffff;
    }
}
.ai,
svg {
    color: rgba(255, 255, 255, 0.555);
    transition: all 200ms ease-out;
    position: relative;
    font-size: 30px;

    &:hover {
        color: #ffffff;
    }
}
.ai-orcid {
    font-size: 23px;
}

@media only screen and (max-width: 1050px) {
    .Socials {
        left: auto;
        right: 40px;
    }

    .stripe {
        height: 60px;
    }
}
@media only screen and (max-width: 730px) {
    .Socials {
        display: none;
    }
}
