.Tutorials {
    width: 100%;
    min-height: 750px;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number-heading {
        font-family: "Overpass Mono";
        font-size: 22px;
        color: #64ffda;
        margin-right: -3px;
        padding-right: 10px;
        padding-top: 4px;
    }

    h2 {
        color: rgba(255, 255, 255, 0.932);
        margin-bottom: 5px;
        font-family: "Overpass";
        font-size: 30px;
        position: relative;
        top: -15px;

        span {
            font-family: "Overpass Mono";
            font-size: 22px;
            color: #64ffda;
            margin-right: -3px;
        }
    }
}
