---
import PageNotFoundImage from "@assets/images/404 Page.gif";
import "../assets/styles/404.scss";
---

<div class="PageNotFound">
  <img
    id="PageNotFoundImage"
    src={PageNotFoundImage.src}
    alt="Page Not Found"
  />
  <a rel="noopener noreferrer" class="button-link" href="/">
    <button type="button" id="backToHome">Back to Home</button>
  </a>
</div>
