---
import { Image } from "astro:assets";
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import Header from "@components/AstroIslands/Common/Header";
import Button from "@components/AstroComponents/Common/Button.astro";
import FooterWithoutSocial from "@components/AstroComponents/FooterWithoutSocial.astro";

// asset import
import PageNotFoundImage from "@assets/images/404.svg";

// style import
import "@styles/single-page.scss";

// title & description value to pass to the layout
const {
  pageTitle = "Aritra Roy | 404 Page",
  pageDescription = "Oops! The page you're looking for seems to be missing. Take a moment to explore my portfolio and discover a world of captivating projects and valuable experiences.",
} = Astro.props;
---

<Layout title={pageTitle} description={pageDescription}>
  <Header isHomePage={false} client:only="react" />
  <div class="SinglePage">
    <Image
      class="SinglePageImage"
      src={PageNotFoundImage}
      alt="Page Not Found"
      width={600}
    />
    <h1>Lost In Research</h1>
    <p>
      You have reached the dead-end of a possibility. Maybe a start from the
      scratch?
    </p>
    <Button href="/" text="Go to Home" rel="noopener noreferrer" />
  </div>
  <FooterWithoutSocial />
</Layout>
