---
import { Image } from "astro:assets";
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import Header from "@components/AstroIslands/Common/Header";
import Button from "@components/AstroComponents/Common/Button.astro";
import FooterWithoutSocial from "@components/AstroComponents/FooterWithoutSocial.astro";

// asset import
import ContactErrorImage from "@assets/images/contactError.svg";

// style import
import "@styles/single-page.scss";

// title & description value to pass to the layout
const {
  pageTitle = "Aritra Roy | Error Form Submission",
  pageDescription = "Encountered an issue with your contact form submission? Apologies for the inconvenience! Please bear with me as I resolve the error promptly. Thank you for your understanding.",
} = Astro.props;
---

<Layout title={pageTitle} description={pageDescription}>
  <Header isHomePage={false} client:only="react" />
  <div class="SinglePage">
    <Image
      class="SinglePageImage"
      src={ContactErrorImage}
      alt="Page Not Found"
      height={400}
    />
    <h1>Oops, Something Terrible Happened</h1>
    <p>
      Encountered an issue with your contact form submission? Apologies for the
      inconvenience! Till the fix you can learn more about me or knock me at
      <a href="mailto:contact@aritraroy.live">contact@aritraroy.live</a>
    </p>
    <Button href="/" text="Go to Home" rel="noopener noreferrer" />
  </div>
  <FooterWithoutSocial />
</Layout>
