---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import Search from "./Search";
import Header from "@components/AstroIslands/Common/Header";

// function import
import { formatPosts } from "@js/utils";
import { getCollection } from "astro:content";

// style import
import "./styles/Search.scss";

// getting & formatting all posts (blogs, videos and research projects)
const allBlogs = await getCollection("blogs");
const formattedBlogs = formatPosts(allBlogs);
formattedBlogs.forEach((blog: any) => {
  blog.slug = "tutorials/blogs/" + blog.slug;
});
const allVideos = await getCollection("videos");
const formattedVideos = formatPosts(allVideos);
formattedVideos.forEach((video: any) => {
  video.slug = "tutorials/videos/" + video.slug;
});
const allResearchProjects = await getCollection("research");
allResearchProjects.forEach((chemProject: any) => {
  chemProject.slug = "projects/research/" + chemProject.slug;
});
const {
  allPost = formattedBlogs.concat(formattedVideos, allResearchProjects),
} = Astro.props;
---

<Layout>
  <Header client:only="react" />
  <div class="searchContainer">
    <h1>Search Posts</h1>
    <Search client:load searchList={allPost} />
  </div>
</Layout>
<!-- <script>
  window.addEventListener("load", () => {
    const searchContainer = document.getElementsByClassName(
      "searchContainer",
    )[0] as HTMLElement;

    // Create a new MutationObserver instance
    const observer = new MutationObserver(() => {
      const height = searchContainer.scrollHeight;
      searchContainer.style.height = `${height}px`;
    });

    // Start observing the searchContainer for child list changes
    observer.observe(searchContainer, { childList: true });
  });
</script> -->
