---
// layout import
import Layout from "@layouts/Layout.astro";

// component import
import Search from "./Search";
import OtherHeder from "@components/AstroIslands/Common/OtherHeader";

// function import
import { formatPosts } from "@js/utils";
import { getCollection } from "astro:content";

// style import
import "./styles/Search.scss";

// getting & formatting all posts (blogs, videos and chemistry projects)
const allBlogs = await getCollection("blogs");
const formattedBlogs = formatPosts(allBlogs);
formattedBlogs.forEach((blog: any) => {
  blog.slug = "tutorial/blogs/" + blog.slug;
});
const allVideos = await getCollection("videos");
const formattedVideos = formatPosts(allVideos);
formattedVideos.forEach((video: any) => {
  video.slug = "tutorial/videos/" + video.slug;
});
const allChemistryProjects = await getCollection("chemistry");
allChemistryProjects.forEach((chemProject: any) => {
  chemProject.slug = "projects/chemistry/" + chemProject.slug;
});
const {
  allPost = formattedBlogs.concat(formattedVideos, allChemistryProjects),
} = Astro.props;
---

<Layout>
  <OtherHeder client:only="react" />
  <div class="searchContainer">
    <h1>Search Posts</h1>
    <Search client:load searchList={allPost} />
  </div>
</Layout>
