.programmingCard {
  width: 500px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #2d344157;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.24);
  transition: all 200ms ease-out;
  border-radius: 4px;
  text-align: center;
  h4:hover {
    color: var(--green) !important;
  }

  .programmingImgTextContainer {
    display: flex;
    align-items: center;
    padding: 10px 0;
    img {
      width: 100%;
      height: auto;
      padding-right: 10px;
      filter: brightness(70%);
      transition: all 200ms ease-out;
    }
    img:hover {
      filter: brightness(100%);
    }
    .programmingTextContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 10px;
      flex-basis: 70%;
      #status {
        margin: 0 0 5px 0 !important;
      }
      #journalName {
        margin-bottom: 15px;
        font-size: small;
      }
      p a {
        margin: 0 10px 0 0;
      }
      .dateDuration {
        font-size: small;
        .customIcon {
          height: 15px;
          padding: 1px;
          margin: 0 1px 3px 1px;
          width: unset;
        }
      }
      .btnContainer {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .programmingCard {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .programmingCard {
    width: 300px;
    .programmingImgTextContainer {
      flex-direction: column;
      img {
        padding-right: unset;
      }
      .programmingTextContainer {
        padding-left: unset;
        #status {
          margin: 10px 0 5px 0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .programmingCard {
    width: 250px;
    margin: 20px 10px;
    h4 {
      font-size: 15px;
    }
  }
}
