---
import ContactForm from "@components/AstroIslands/ContactForm";
import "./styles/Contact.scss";
---

<main class="Contact" id="contact">
    <h2>
        <span class="number-heading">05.</span>Get In Touch
    </h2>
    <p>For you my inbox is always open!</p>
    <ContactForm client:only="react" />
</main>
