---
import "./styles/Footer.scss";
import { Icon } from "astro-iconify";
---

<footer class="Footer" id="footer" style="height: unset;">
    <div class="visitsDiv" title="Visitor">
        <div>
            <Icon name="ph:eye-bold" />
            <img
                class="filtered"
                width="60"
                height="15"
                src="https://www.free-website-hit-counter.com/c.php?d=4&id=150439&s=36"
                alt="Free Website Hit Counter"
            />
        </div>
    </div>
    <div class="copyrightDiv">
        <p>
            &copy; 2023 <a href="/"><span>aritraroy.live</span></a>
        </p>
        <p>❤️</p>
        <p>All rights reserved.</p>
    </div>
</footer>
