---
import Newsletter from "./Common/Newsletter.astro";
import "./styles/FooterWithoutSocial.scss";
---

<footer class="Footer" id="footer" style="height: unset;">
  <Newsletter />
  <div class="copyrightDiv">
    <p>
      &copy; 2023 <a href="/"><span>aritraroy.live</span></a>
    </p>
    <p>❤️</p>
    <p>All rights reserved.</p>
  </div>
</footer>
