---
import Newsletter from "./Common/Newsletter.astro";
import "./styles/FooterWithoutSocial.scss";
import { Icon } from "astro-iconify";
---

<footer class="Footer" id="footer" style="height: unset;">
    <div class="visitsDiv" title="Visitor">
        <div>
            <Icon name="pajamas:eye" />
            <img
                width="60"
                height="15"
                class="filtered"
                src="https://www.free-website-hit-counter.com/c.php?d=4&id=151751&s=36"
                alt="Visitors"
            />
        </div>
    </div>
    <Newsletter />
    <div class="copyrightDiv">
        <p>
            &copy; 2023 <a href="/"><span>aritraroy.live</span></a>
        </p>
        <p>❤️</p>
        <p>All rights reserved.</p>
    </div>
</footer>
