---
// library import
import { Image } from "astro:assets";

// component import
import Button from "@components/AstroComponents/Common/Button.astro";

// style import
import "./styles/Hero.scss";

// asset import
import BuyMeIceCream from "@assets/images/home/buyme.png";
---

<div class="Home">
  <section class="home-title-section entryAnimation">
    <p class="introduction">Hello! Hola! My name is</p>
    <h1>Aritra Roy.</h1>
    <h2 class="sub-header-title">Computing Chemical World!!!</h2>
    <p class="description-title">
      I'm a{" "}
      <span>
        <b>Computational Chemist</b>
      </span>{" "}
      and {" "}
      <span>
        <b>Algorithm Enthusiast</b>
      </span>{" "} based in West Bengal, India. My areas of expertise lie in wide
      range of software handling, theoretical expertisation and problem solving skill.
    </p>
    <div class="AllButtons">
      <div class="ContactButton">
        <Button
          href="#contact"
          text="Get In Touch"
          customStyle="margin:10px;"
        />
        <Button
          href="/cv.pdf"
          target="_blank"
          rel="noreferrer"
          text="Download CV"
          customStyle="margin:10px;"
        />
      </div>
      <div>
        <a
          href="https://www.buymeacoffee.com/aritraroy24"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            id="BuyMeIceCream"
            src={BuyMeIceCream}
            alt="buymeicecream"
            height={110}
          />
        </a>
      </div>
    </div>
  </section>
  <div class="orb"></div>
</div>
