---
// component import
import Tab from "@components/AstroComponents/Common/Tab.astro";

// data import
import education from "@assets/js/data/education";
import research from "@assets/js/data/research";
import Testimonial from "./Testimonial.astro";

// style import
import "./styles/Portfolio.scss";
---

<main class="Portfolio" id="portfolio" data-name="Portfolio">
  <h2>
    <span class="number-heading">03.</span>Portfolio
  </h2>
  <section class="portfolio-container">
    <div class="section-heading">
      <h4>Research</h4>
    </div>
    <Tab data={research} side="left" />
    <div class="section-heading">
      <h4>Education</h4>
    </div>
    <Tab data={education} side="left2" />
    <div class="section-heading">
      <h4>Testimonials</h4>
    </div>
    <Testimonial />
  </section>
</main>
