---
// library import
import { Icon } from "astro-icon/components";

// style import
import "./styles/Socials.scss";

// import data
import socials from "@js/data/socials";
---

<div class="Socials">
  {
    socials.map((social: any) => {
      return (
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          title={social.title}
        >
          <Icon name={social.name} title={social.title} />
        </a>
      );
    })
  }
  <div class="stripe"></div>
</div>
