---
// component import
import Button from "@components/AstroComponents/Common/Button.astro";
import PostCard from "@components/AstroComponents/Common/PostCard.astro";

// function import
import { getCollection } from "astro:content";
import { formatPosts } from "@js/utils";

// style import
import "./styles/Tutorials.scss";

// asset import
import NoData from "@images/No data.svg";

const allBlogs = await getCollection("blogs");
const formattedBlogs = formatPosts(allBlogs).slice(0, 2);
---

<main class="Tutorials" id="tutorials" data-name="Tutorials">
  <h2>
    <span class="number-heading">04.</span>Tutorials
  </h2>
  <section class="chemprojects-container"></section>
</main>
