.PageNotFound {
  padding: 0 220px;
  font-family: "Overpass";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  h1 {
    color: var(--red);
  }
}
@media only screen and (max-width: 1050px) {
  .PageNotFound {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 730px) {
  .PageNotFound {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 550px) {
  #PageNotFoundImage {
    width: 80vw;
    height: unset;
  }
  #backToHome {
    font-size: 11px;
    padding: 15px 18px;
  }
}
@media only screen and (max-width: 420px) {
  .PageNotFound {
    padding: 0 22px;
  }
}
