@font-face {
  src: url("../../assets/fonts/Overpass-Regular.ttf");
  font-family: "Overpass";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
body {
  background-color: #011b43;
}
.PageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  h1 {
    color: var(--red);
  }
}

@media only screen and (max-width: 550px) {
  #PageNotFoundImage {
    width: 80vw;
    height: unset;
  }
  #backToHome {
    font-size: 11px;
    padding: 15px 18px;
  }
}
