.headroom-wrapper {
  position: fixed !important;
}
#tutorialDiv {
  margin-top: -80vh;
}
.postsNavigationDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
  h1 {
    margin-bottom: 30px;
  }
  .highlightedText {
    color: var(--red);
  }
  .allPostsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    .projectSectionLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 50px 10px 50px;
    }
    .noDataFoundContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -50px;
    }
  }
}
@media screen and (max-width: 1539px) {
  #tutorialDiv {
    margin-top: 100px;
  }
}
