.post-content {
  padding: 0 30vw;
  text-align: left;
  margin-bottom: 50px;
  .biggerParagraph {
    text-align: center;
    font-size: 22px;
  }
  .citationBlockquote {
    padding-left: 23px;
    box-shadow: inset 3px 0 0 0 var(--slate);
    display: flex;
    align-items: start;
  }
  .sectionDivider {
    text-align: center;
    margin-bottom: 30px !important;
  }
  .refLink {
    text-decoration: none;
    .refContainer {
      border: 0.25px solid var(--slate);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      .refLeft {
        text-align: center;
        padding: 30px;
        flex: 75%;
        margin: 0;
        h4 {
          margin: 0;
          font-size: 1.5rem;
        }
        h6 {
          margin: 0;
          padding-top: 15px;
          font-size: 0.9rem;
        }
      }
      .refRight {
        flex: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        p {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          img {
            padding: 10px;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .refLink:hover {
    h4,
    h6 {
      color: var(--green) !important;
    }
  }
  .refLink:focus {
    h4,
    h6 {
      color: var(--green) !important;
    }
  }
  font-size: 16.5px;
  h2 {
    margin-top: 30px;
  }
  h4 {
    margin-top: 20px;
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 100%;
    max-width: 40vw;
    height: auto;
  }
  div div div {
    display: flex;
    align-items: center;
    flex-direction: column;
    div {
      margin-bottom: 30px;
      width: 40vw;
      text-align: center;
      p {
        margin: 0 !important;
      }
      sup {
        font-size: 12px;
        max-width: 40vw;
      }
      iframe {
        width: 40vw;
        height: 22.5vw;
      }
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid var(--slate);
  }

  th {
    padding: 3px;
    border: 2px solid var(--slate);
  }

  td {
    padding: 2px;
    border: 0.25px solid var(--slate);
  }
}
@media only screen and (max-width: 1500px) {
  .post-content {
    padding: 0 25vw;
    div div div {
      div {
        width: 50vw;
        iframe {
          width: 50vw;
          height: 28vw;
        }
      }
    }
    img {
      max-width: 50vw;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .post-content {
    padding: 0 20vw;
    .refLeft {
      flex: 100%;
    }
    .refRight {
      display: none !important;
    }
    div div div {
      div {
        width: 60vw;
        iframe {
          width: 60vw;
          height: 34vw;
        }
      }
    }
    img {
      max-width: 60vw;
    }
  }
  .refLink {
    h4 {
      font-size: 1.2rem !important;
    }
    h6 {
      padding-top: 15px;
      font-size: 0.7rem !important;
    }
  }
}
@media only screen and (max-width: 850px) {
  .post-content div div div div {
    iframe {
      width: 80vw;
      height: 45vw;
    }
  }
}
@media only screen and (max-width: 730px) {
  .post-content {
    text-align: left;
    padding: 0 40px;
    img {
      width: 60vw;
    }
  }
  .post-content div div div div {
    width: 70vw;
  }
  .refLink {
    h4 {
      font-size: 1.1rem !important;
    }
    h6 {
      padding-top: 15px;
      font-size: 0.7rem !important;
    }
  }
}
@media only screen and (max-width: 480px) {
  .post-content {
    img {
      width: 80vw;
    }
  }
  .refLink {
    h4 {
      font-size: 15px !important;
    }
    h6 {
      padding-top: 15px;
      font-size: 10px !important;
    }
  }
}
@media only screen and (max-width: 420px) {
  .post-content {
    padding: 0 22px;
  }
}
