---
// style import
import "./styles/Newsletter.scss";
---

<form
    class="newsletterForm"
    action="https://tinyletter.com/Aritra"
    method="post"
    target="popupwindow"
    onsubmit="
    window.open('https://tinyletter.com/Aritra', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true
    "
>
    <p class="newsletterHeading">
        <label for="tlemail">Subscribe My Newsletter</label>
    </p>
    <p class="newsletterDescription">
        Get notifications for my latest blogs, videos or research projects right
        into your mailbox 💌.
    </p>
    <div>
        <input
            class="newsletterTextbox"
            type="text"
            name="email"
            id="tlemail"
        />
        <input type="hidden" value="1" name="embed" /><input
            class="newsletterSubmit"
            type="submit"
            value="Subscribe"
        />
    </div>
</form>
