.searchContainer {
    position: absolute;
    margin-top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBarContainer {
    margin-top: 30px;
    width: calc(100vw - 40vw);
    /*** Changing Default Selecting Style ***/
    ::selection {
        background-color: var(--navy) !important;
        color: white;
    }
    ::-moz-selection {
        background-color: var(--navy) !important;
        color: white;
    }
    ::-o-selection {
        background-color: var(--navy) !important;
        color: white;
    }
    ::-ms-selection {
        background-color: var(--navy) !important;
        color: white;
    }
    ::-webkit-selection {
        background-color: var(--navy) !important;
        color: white;
    }
    .inputContainer {
        position: relative;
        #searchIcon {
            position: absolute;
            pointer-events: none;
            display: flex;
            align-items: center;
            left: 0;
            height: 100%;
            padding-left: 10px;
            svg {
                fill: black;
                width: 50%;
            }
        }
        input {
            width: 100%;
            border: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #dfdfdf;
            padding: 16px;
            border-radius: 3px;
            font-size: 16px;
            padding-left: 50px;
            ::placeholder {
                color: rgb(66, 66, 66);
            }
        }
    }
    .resultSummary {
        text-align: center;
        padding-top: 20px;
        font-size: var(--font-size-xxl);
    }
}
.postHeading {
    margin-top: 50px;
    text-align: center;
}
.postListItem {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 15px;
    background: rgba(45, 52, 65, 0.3411764706);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    transition: all 200ms ease-out;
    border-radius: 4px;
    a {
        svg {
            width: 18px !important;
        }
    }
    a:hover {
        h4 {
            color: var(--green);
        }
    }
    h4 {
        color: white;
    }
    .info {
        margin: 8px 0 !important;
        color: rgb(219, 219, 219) !important;
    }
    p {
        font-size: var(--font-size-md);
        margin: 5px 0 !important;
        color: var(--slate) !important;
    }
}
@media only screen and (max-width: 550px) {
    .searchBarContainer {
        width: calc(100vw - 20vw);
    }
}
@media only screen and (max-width: 400px) {
    .searchBarContainer {
        width: calc(100vw - 20vw);
        .inputContainer {
            input {
                padding: 12px;
                font-size: 12px;
                padding-left: 35px;
            }
        }
        .resultSummary {
            padding-top: 17px;
            font-size: var(--font-size-lg);
        }
    }
}
